@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap);
/* 
==============================
CSS reset clears browser's defaults
==============================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
==============================
	      Main styles
==============================
*/
[data-theme=light] {
  --bg-color: #e4e5f1;
  --bg-card: #fafafa;
  --border-color: #cacde8;
  --color: #484b6a;
  --hover-color: #4d5066;
  --caret-color: #484b6a;
  --checked-color: #cacde8;
}

[data-theme=dark] {
  --bg-color: #161722;
  --bg-card: #25273c;
  --border-color: #484b6a;
  --color: #d2d3db;
  --hover-color: #4d5066;
  --caret-color: #3a7bfd;
  --checked-color: #777a92;
}

body {
  font-family: 'Josefin Sans';
  background-color: var(--bg-color);
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6;
  transition: background-color 0.5s ease;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
  color: white;
  margin-bottom: 1.5rem;
}

.background {
  width: 100%;
  object-fit: cover;
  height: 30vh;
}
.todo {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: -160px;
  position: relative;
  z-index: 1;
 }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-select {
  cursor: pointer;
}

.todo form {
  margin-bottom: 1rem;
}

.todo label {
  padding: 0.7rem;
  display: flex;
}

.todo form,
.todo-body {
  width: 100%;
  background-color: var(--bg-card);
  border-radius: 0.4rem;
  transition: background-color 0.5s ease;
}

.todo-body {
  margin-bottom: 2rem;
}

.input-text {
  border: 0;
  outline: 0;
  width:90%;
  background-color: inherit;
  color: var(--color);
  font-family: 'Josefin Sans';
  font-size: inherit;
}

.circle {
  border: 1px solid var(--border-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 0.15rem;
  margin-right: 0.6rem;
  background-color: var(--bg-card);
  transition: background-color 0.5s ease;
}

.empty {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--color);
}

.drag {
  color: #777a92;
  text-align: center;
}

/* 
==============================
	      Todos styles
==============================
*/

.list-item{ 
  z-index: 2;
  width: 100%;
  color: var(--color);
  margin-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-card);
  list-style: none;
  border-radius: 0.4rem;
}

.list-container {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}

.checked {
  color: var( --checked-color);
  text-decoration: line-through;
}

@keyframes active {
  from{
    transform: translateX(30px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 100;
  }
}

.list-item.active {
  animation: active 0.5s ease;
}

.list-item.deleted {
  transform: translateX(30px);
  opacity: 0;
  transition: all 0.5s ease;
}

.list-item div {
  display: flex;
  align-items: center;
}

.check-box {
  border: 1px solid var(--border-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.6rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.check-box:hover {
  border-color: #3a7bfd
}

.check-box:checked {
  background: linear-gradient(#57ddff,#c058f3);
  border: none;
}

.check-box:checked::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7.5px;
  left: 7.5px;
  background-image: url('/public/images/icon-check.svg');
  background-size: 10px 10px ;
  background-repeat: no-repeat;
}

.delete-btn {
  cursor: pointer;
  background-color: inherit;
  border: 0;
}

.delete-btn img{
  width: 13px;
  height: 13px;
}

.delete-btn:hover {
  background-color: inherit;
}

/* 
==============================
	    Todos Actions styles
==============================
*/

.todos-actions {
  display: flex;
  color: #777a92;
  justify-content: space-between;
  padding: 1rem 0.7rem;
}

.clear-comp {
  cursor: pointer;
}

.clear-comp:hover {
  color: hsl(235, 21%, 11%);
}

.filters {
  display: flex;
  cursor: pointer;
  gap: 1.5rem;
}

.filter {
  color:#777a92;
}

.filter:hover {
  color: hsl(235, 21%, 11%);
}

.filters.mobile {
  display: none;
  width: 100%;
  background-color: var(--bg-card);
  border-radius: 0.4rem;
  padding: 0.7rem 0;
  transition: background-color 0.5s ease;
  margin-bottom: 1rem;
}

.selected-filter {
  color: #3a7bfd;
}

.selected-filter:hover {
  color:#3a7bfd
}

/* 
==============================
	    Responsivity styles
==============================
*/

@media (max-width: 600px) {
  body {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  input {
    font-size: 0.7rem;
  }
  .empty {
    font-size: 1rem;
  }
}

@media (max-width: 760px) {
  .filters {
    display: none;
  }
  .filters.mobile {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
